.container {
	align-items: center;
}

.calc {
	margin-top: 50px;
	margin-bottom: 50px;
	padding:20px 50px;
	background-color: #ffc7c7;
}
#result {
	color: #ff5e5e;
  font-size: 85px;
	height: 150px;
}
